.pijl {
    width: 50px;
    height: 50px;
    transform-origin: center;
}

.inhoud {
    background-color: #c4d4df; /* zachte blauwgrijze tint */
    min-height: calc(100vh - 70px);
}

.pijlPrentjes{
    display:grid;
    grid-template-columns:repeat(2, 1fr);

    width:100%;
    margin: 2rem 0;
    row-gap: 2rem;
}

.beschrijving {
    text-align: center;
    line-height: 1.7em;

}

.oefeningDisplay {
    background-color: #eef4f8;
    border-radius: 5px;
}

.venster .beschrijving {
    line-height: 2em;
    font-size: 1.6em;
}

.antwoordBediening.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    box-sizing: border-box;
}

.combo{
    display:flex;
    flex-direction:column;
    align-items:center;
    border-radius:20px;
}

.venster .combo{
    display:flex;
    flex-direction:column;
    align-items:center;
    border-radius:10px;
    border: 2px solid #ccc;
    background-color: white;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.startScherm {
    margin: 0;
    padding: 0 2em 2em 2em;
}

svg {
    stroke: #3a5068;
}

svg:hover {
    stroke: #50739a;
}

.venster .combo:hover{
    background-color: #afc7d5;
    box-shadow: 0 0 2px 1px rgba(126, 186, 209, 0.3);
}

.combo.geselecteerd {
    border-color: #406271;
    background-color: #4c6675;
}

.combo.geselecteerd:hover {
    border-color: #406271;
    background-color: #4c6675;
}

.onderbalk {
    background-color: #77919e;
}

.timer {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #95a2ac;
}

.pijlen{
    display: inline-flex;
    flex-direction:column;
    align-items:center;
}

.wit {
    background-color: white;
}

.linksOp {
    transform: rotate(270deg);
}

.rechtsOp {
    transform: rotate(0deg);
}

.rechtsNeer {
    transform: rotate(90deg);
}

.linksNeer {
    transform: rotate(180deg);
}

.opgavePlaatsbepaling {
    width: 60%;
    margin: auto;
    position: relative;
}

.opgavePlaatsbepaling .venster {
    min-height: 50vh;

}