.inhoud {
    background-color: #f3e3d3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: clamp(40px, 8vh, 120px);
}

.inhoud .oefeningDisplay {
    margin-top: 0;
    margin-bottom: 120px;
    width: min(50%, 1200px)
}

.inhoud .instructie, .inhoud .resultaat {
    background-color: #fdf7ee;
    border: none;
}

main .sub-header-advanced {
    background-color: #7d3f12;
    color: #f6e8dd
}

.feedback {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 0 0 1em;
}

main .label {
    color: #c6bbb0
}

main .back-btn {
    color: #f6e8dd
}

.rooster {
    margin: 0 auto;
    display: grid;
    gap: 1px;
    background-color: #b8b8b8;
    width: max-content;
    height: max-content;
}

.rooster:hover {
    cursor: pointer;
}

.onderbalkReactiesnelheid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    color: white;
    background-color: #bc7437;
}

.wrapper {
    padding: 50px 0;
}

.opgaveReactiesnelheid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
    background-color: #e4c3a6;
}

main .inhoud button.instellingen {
    background-color: #fdf7ee;
}

main .inhoud button.instellingen:hover {
    background-color: #fdf7ee;
}

button.instellingen svg {
    stroke: #7d3f12
}

button.instellingen svg:hover {
    stroke: #a35217;
}

main .inhoud button {
    background-color: #73461e;
    color: #fbf6f2;
}

main .inhoud button:hover {
    background-color: #7d3f12;
}

.vakje {
    background-color: rgba(239, 239, 239, 0.95);
}

.vakje.opgelicht {
    background-color: #f8ff2b;
}

.gemarkeerd {
    background-color: #c1c1c1;
}

.oefeningDisplay {
    margin: 5% ;
}

.seconden{
    margin-right: 6px;
}

.liveTijd {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 10em;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif, monospace;
    padding-left: 2.5em;
    box-sizing: border-box;
}

.aantalFouten {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 7em;
}

.aantalFouten p {
    width: 8em;
}