main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 70px);
    background-color: #d3e3e1;
    position: relative;
}

.timer {
    position: absolute;
    top: 19%;
    left: 79%;
    background-color: #2d5b5a;
    color: white;
    font-family: sans-serif, monospace;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 1;
    border-radius: 3px;
    padding: 0.2em;
    box-sizing: border-box;
}

header.sub-header-advanced {
    background-color: #2d5b5a;
}

.sub-header-advanced .label {
    color: #9fc3c2;
}

button.volgendePagina, div.bediening button {
    background-color: #3a7371;;
}

button.volgendePagina:hover, div.bediening button:hover {
    background-color: #4b8f8c;;
}

main div.oefeningDisplayFD {
    background-color: #eef6f5;
    border: none;
}

.oefeningDisplayFD h1 {
    text-align: center;
    font-size: 1.7em;
}

.oefeningInhoud {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

.string {
    text-align: center;
    margin: 20px 80px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 1.5em;
}

.container {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 25px 0;
}


button {
    padding: 12px 18px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: white;
}

