.rekenopgave {
    display: inline-block;
    font-size: 2em;
    vertical-align: middle;
}

.progressie {
    display: flex;
    align-items: center;
    color: #314257;
}

#oefeningNummer {
    font-size: .9em;
}

.opgaveGetalvaardigheid {
    width: 50%;
}
