.btn-military {
    background-color: #556b2f;
    color: white;
    border: none;
}

.btn-military:hover {
    background-color: #3e4f22;
}

.hoofdpagina {
    width: 80%;
    margin: auto;
}

.hoofdpaginaHeader {
    background-color: #0b1a12; /* donkergroen militair */
    color: #d4d4d4;
    text-align: center;
    padding: 30px 0;
    border-bottom: 2px solid #3a5f3a;
}

.hoofdpaginaHeader h1 {
    font-size: 28px;
    letter-spacing: 4px;
    font-weight: 600;
}

.oefenpaginas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    min-height: 100vh;
    place-content: center;
}

