.btn-military {
    background-color: #556b2f;
    color: white;
    border: none;
}

.btn-military:hover {
    background-color: #3e4f22;
}

.hoofdpagina {
    width: 80%;
    margin: auto;
}

.hoofdpagina h1 {
    text-align: center;
}

.oefenpaginas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    min-height: 100vh;
    place-content: center;
}