.pijl {
    width: 50px;
    height: 50px;
    transform-origin: center;
}

.pijlPrentjes{
    display:grid;
    grid-template-columns:repeat(2, 1fr);

    width:100%;
    margin: 2rem 0;
    row-gap: 2rem;
}

.beschrijving {
    text-align: center;
    line-height: 1.7em;

}

.combo{
    display:flex;
    flex-direction:column;
    align-items:center;
    border-radius:20px;
}

.pijlen{
    display: inline-flex;
    flex-direction:column;
    align-items:center;

}

.wit {
    background-color: white;
}

.linksOp {
    transform: rotate(270deg);
}

.rechtsOp {
    transform: rotate(0deg);
}

.rechtsNeer {
    transform: rotate(90deg);
}

.linksNeer {
    transform: rotate(180deg);
}

.opgavePlaatsbepaling {
    width: 60%;
    margin: auto;
}

.opgavePlaatsbepaling .venster {
    min-height: 50vh;

}