.inhoud {
    background-color: #f3e3d3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: clamp(40px, 8vh, 120px);
}

.inhoud .oefeningDisplay {
    margin-top: 0;
    margin-bottom: 120px;
    width: min(50%, 1200px)
}

.inhoud .instructie, .inhoud .resultaat {
    background-color: #fdf7ee;
    border: none;
}

main .sub-header-advanced {
    background-color: #7d3f12;
    color: #f6e8dd
}

main .label {
    color: #c6bbb0
}

main .back-btn {
    color: #f6e8dd
}

.rooster {
    margin: 0 auto;
    display: grid;
    gap: 1px;
    background-color: #b8b8b8;
    width: max-content;
    height: max-content;
}

.rooster:hover {
    cursor: pointer;
}

.onderbalkReactiesnelheid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    color: white;
    background-color: #bc7437;
}

.wrapper {
    padding: 50px 0;
}

.opgaveReactiesnelheid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
    background-color: #e4c3a6;
}

main .inhoud button {
    background-color: #73461e;
    color: #fbf6f2;
}

main .inhoud button:hover {
    background-color: #7d3f12;
    box-shadow: 0 0px 1px 1px rgb(172, 79, 2);
}

.vakje {
    background-color: white;
}

.vakje.opgelicht {
    background-color: #fffb00;
}

.gemarkeerd {
    background-color: lightgrey;
}

.oefeningDisplay {
    margin: 5% ;
}