.beschrijvingRedeneertest, .voorbeschrijvingRedeneertest {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.vraag {
    line-height: 1.6em;
    font-size: 1.2em;
    text-align: center;
}

.beschrijvingRedeneertest {
    border: solid 1px black;
    border-bottom: none;
    min-height: 50vh;
}

.antwoordBediening {
    margin-top: 5vh;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
}

.antwoordBediening .antwoordKnop {
    background-color: #d9f4ed;
    color: #243845;
    border: solid 4px transparent;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.15s ease, color 0.15s ease;
}

.antwoordKnop:hover {
    background-color: #6d96b1; /* Iets donkerder/voller blauw */
}


.antwoordKnop.geselecteerd, .geselecteerd:hover {
    background-color: #4b6475;
    color: white;
}

.correctAntwoord {
    background-color: yellow;
    line-height: 1.4em;
    display: inline-block;
    padding: 0 .4em;
}

.antwoorden {
    margin: 1.5em 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

